<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.danielbergey.safari.typetonavigate</string>
			<key>Developer Identifier</key>
			<string>5T4VZ78WA4</string>
			<key>CFBundleVersion</key>
			<string>44</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.5</string>
			<key>URL</key>
			<string>http://dbergey.github.com/Type-To-Navigate/typetonavigate.safariextz</string>
		</dict>
	</array>
</dict>
</plist>