<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Bergey</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>Type-To-Navigate</string>
	<key>CFBundleIdentifier</key>
	<string>com.danielbergey.safari.typetonavigate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.5</string>
	<key>CFBundleVersion</key>
	<string>44</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*.google.com/reader/*</string>
			<string>https://*.google.com/reader/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injection.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>typetonavigate.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Type to select text in a link, hit return to follow it. ⌘G: Find Next, ⌘C: Copy URL, ⌘I: Send URL to Instapaper.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://dbergey.github.com/Type-To-Navigate/updates_safari.plist</string>
	<key>Website</key>
	<string>http://danielbergey.com/software/typetonavigate/</string>
</dict>
</plist>
