input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
[contenteditable=true]:focus,
.UIComposer_STATE_INPUT_FOCUSED [contenteditable=true] /* for facebook */
textarea:focus {
	cursor: text;
}